# Quarto
/.quarto/
**/*.quarto_ipynb
/_site/

# Data
*.csv
*.RData

# TeX
*.aux
*.log
*.out
*.toc
*.nav
*.snm
*.vrb
*t2d/

# Slides
*.pdf

# RMark files
*.res
*.vcv
*.inp
*.tmp

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
*.rdb
*.rdx

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/


